*, *::before, *::after {
    box-sizing: border-box
}

img {
    height: 250px;
    position: center
 }

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333
    
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0  10px 2px;
    font-size: 20px;
    font-family: 'Didot', 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen,  serif;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    border: lpx solid hsl(200, 100%, 10%);
    border-radius: 5px;
    padding: 5px 10px;
    color: aliceblue;
    outline: none;
    font-size: 20px;
    font-family: 'Didot', 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen,  serif;
    background-position: center;
}

.btn.hover {
    color: green;
}

.player-img {
    height: 200px;
    position: center
 }