*, *::before, *::after {
    box-sizing: border-box
}

.bg-image {
    /* object-fit: contain; */
    pointer-events: none;
    position: fixed;
    z-index: -1;
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    width:  100vw; 
    /* height: 250px;
    position: center */
    object-fit: cover;
    object-position: 0 -100%;
    display:flex;
    align-items:center;
 }

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-items: self-end; */
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    background-color: #333   
}

.container {
    width: 900px;
    max-width: 80%;
    background-color: hsla(0, 0%, 96%, 0.815);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0  10px 2px;
    font-size: 20px;
    font-family: 'Didot', 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen,  serif;
    text-align: center;
    /* display: flex; */
}

.btn-grid {
    display: grid;
    /* grid-template-columns: repeat(2, auto); */
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    border: lpx solid hsl(200, 100%, 10%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 20px;
    font-family: 'Didot', 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen,  serif;
    background-position: center;
}

.btn.hover {
    color: green;
}

.player-img {
    height: 300px;
    float: left;
    background-color: transparent;
    margin: -175px 0 0 -100px;
    overflow: hidden;

    /* position: center */
 }

@media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
@media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }

 @media (max-width: 480px) {


}

@media (min-width: 481px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}